@model ResetAdminPasswordModelView

<form method="post" asp-action="ChangePassword" class="form">
    <div class="form-floating mb-3">
        <input asp-for="@Model.AdminPassword" class="form-control" placeholder="Password" />
        <label asp-for="@Model.AdminPassword" class="form-label"></label>
        <span asp-validation-for="@Model.AdminPassword" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
        <label asp-for="@Model.ConfirmPassword" class="form-label"></label>
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>
    <div>
        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
    </div>
</form>